$altura_do_cabecalho: 10vh;

$cor_de_fundo: #303030;

$cor_do_texto: #fff;
$cor_texto_destacado: #ffc115;

#cabecalho {
    position: fixed;
    z-index: 1;
    height: $altura_do_cabecalho;
    width: 100vw;

    background: rgba(48, 48, 48, 0.84);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);

    display: flex;
    align-items: center;
    justify-content: center;
}

#barra_de_navegacao {
    height: $altura_do_cabecalho;
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $cor_do_texto;
    font-size: 12px;

    #lista_esquerda {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: left;
    }

    #lista_direita {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: right;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.item_da_lista {
    margin: 6px;

    &:hover {
        color: $cor_texto_destacado;
    }
}

.botoes {
    background: rgba(8, 201, 255, 0.45);
    backdrop-filter: blur(4.3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid #08c9ff87;
    border-radius: 5px;

    padding: 5px 10px;
}